@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --gray-400-color: #495057;
    --dark-blue-300-color: #0A3871;
    --white-color: #FFFFFF;
    --background-color: #F3F5FC;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
}

.content {
    display: flex;
}

.content__div {
    padding: 2% 5%;
}

.content__section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10% 5% 0% 5%;
}

.content__section__textarea {
    border: none;
    height: 400px;
    resize: none;
    background-color: var(--background-color);
    color: var(--dark-blue-300-color);
    font-size: 2rem;
    font-family: "Inter", sans-serif; 
}

.content__section__textarea::placeholder {
    color: var(--dark-blue-300-color);
    font-size: 2rem;
    font-family: "Inter", sans-serif; 
}

.content__section__textarea:focus {
    outline: 0;
    color: var(--dark-blue-300-color);
    font-size: 2rem;
    font-family: "Inter", sans-serif; 
}

.content__section__warning {
    display: flex;
    gap: 8px;
}

.content__section__warning__text {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--gray-400-color);
}

.content__section__buttons {
    display: flex;
    gap: 24px;
}

button {
    border: none;
    padding: 24px;
    width: 328px;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.content__section__buttons__cript {
    background-color: var(--dark-blue-300-color);
    color: var(--white-color);
}

.content__section__buttons__decript {
    background-color: #D8DFE8;
    border: 1px solid var(--dark-blue-300-color);
    color: var(--dark-blue-300-color);
}

.content__container {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    /* height: 530px; */
    padding: 2% 5% 0% 0%;
}

.content__nouse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: var(--white-color);
    margin: 2% 5% 0% 0%;
    border-radius: 32px;
}

.content__nouse__title {
    font-size: 1.5rem;
    color: var(--gray-400-color);
    font-weight: 700;
    text-align: center;
}

.content__nouse_paragraph {
    font-size: 1rem;
    color: var(--gray-400-color);
    text-align: center;
    padding: 2%;
}

.content__container__board {
    height: 100%;
    background-color: var(--white-color);
    border-radius: 32px;
    padding: 5%;
    color: var(--gray-400-color);
    font-size: 1.5rem;
}

.content__board__button {
    margin-bottom: 16px;
    border: 1px solid var(--dark-blue-300-color);
    background-color: var(--white-color);
    color: var(--dark-blue-300-color);
}

@media (max-width: 1250px) {
    .content {
        flex-direction: column;
    }

    .content__section {
        width: 90%;
    }

    .content__nouse {
        gap: 16px;
        padding: 2% 5%;
        margin: 2% 5% 0% 5%;
    }

    .content__nouse__image {
        display: none;
    }

    .content__nouse_paragraph {
        padding: 0%;
    }

    .content__container {
        margin: 2% 5% 0% 5%;
    }

    .content__container__board {
        padding: 5%;
    }

    .content__board__button {
        width: 100%;
    }
}